<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="workAction" class="com.crm.action.WorkAction">
		<property name="workservice" ref="workservice"></property>
		<property name="plnService" ref="plnService"></property>
		<property name="clientService" ref="clientService"></property>	
		<property name="taskListService" ref="taskListService"></property>
	</bean>
	
	<bean class="com.crm.service.impl.WorkService"  id="workservice">
		<property name="workDao" ref="workDao"></property>
		
	</bean>
	<bean class="com.crm.service.impl.PlnService"  id="plnService">
		<property name="planDao" ref="planDao"></property>
		
	</bean>
		<bean class="com.crm.service.impl.ClientService"  id="clientService">
		<property name="clientDao" ref="clientDao"></property>
		
	</bean>
	<bean class="com.crm.service.impl.TaskListService"  id="taskListService">
		<property name="taskListDao" ref="taskListDao"></property>
		
	</bean>
	
	<bean class="com.crm.dao.impl.ClientDao4Orcl"  id="clientDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean class="com.crm.dao.impl.WorkDao"  id="workDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean class="com.crm.dao.impl.PlanDao4Orcl"  id="planDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean class="com.crm.dao.impl.TaskListDao"  id="taskListDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	 
</beans>