<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="naviAction" class="com.crm.action.NaviAction">
		<property name="naviservice" ref="naviService"></property>
	</bean>
	
	<bean class="com.crm.service.impl.NaviService"  id="naviService">
		<property name="rightdao" ref="rightDao"></property>
		<property name="roledao" ref="roleDao"></property>
	</bean>
	
	<bean class="com.crm.dao.impl.RightDao4Orcl"  id="rightDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean class="com.crm.dao.impl.RoleDao4Orcl"  id="roleDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	 
</beans>